network:
  version: 2
  renderer: networkd
  bridges:
{% if inventory_hostname in groups['storage_nodes'] or inventory_hostname in groups['nova_nodes'] %}
    br_storage:
      interfaces:
        - {{ hostvars[inventory_hostname]['br_storage']['nic'] | default("") }}
      addresses:
        - {{ hostvars[inventory_hostname]['br_storage']['address'] | default("") }}
      dhcp4: no
      nameservers:
        addresses:
{% for addr in nameservers['addresses'] %}
          - {{ addr }}
{% endfor %}
        search:
{% for domain in nameservers['search'] %}
          - {{ domain }}
{% endfor %}
{% endif %}
{% if inventory_hostname in groups['infra_nodes'] or inventory_hostname in groups['nova_nodes'] %}
    br_vxlan:
      interfaces:
        - {{ hostvars[inventory_hostname]['br_vxlan']['nic'] | default("") }}
      addresses:
        - {{ hostvars[inventory_hostname]['br_vxlan']['address'] | default("") }}
      dhcp4: no
      nameservers:
        addresses:
{% for addr in nameservers['addresses'] %}
          - {{ addr }}
{% endfor %}
        search:
{% for domain in nameservers['search'] %}
          - {{ domain }}
{% endfor %}
{% endif %}
    br_vlan:
      dhcp4: no
  vlans:
    neutron:
      id: 501
      link: {{ hostvars[inventory_hostname]['br_mgmt']['nic'] }}
