baremetal-cp-r32-2.homelab.danmanners.com.yaml
baremetal-cp-r29-1.homelab.danmanners.com.yaml
baremetal-cp-r29-2.homelab.danmanners.com.yaml
baremetal-worker-r32-1.homelab.danmanners.com.yaml
baremetal-worker-r22.homelab.danmanners.com.yaml
talosconfig
baremetal-worker-r18.homelab.danmanners.com.yaml
baremetal-worker-r14.homelab.danmanners.com.yaml
baremetal-cp-r32-1.homelab.danmanners.com.yaml
